ul{
    margin: 0px;
    text-align: center;
    font-family: cursive, fantasy;
    font-size: 1.5em;
    color: salmon;
}

li{
    padding: 10px 0px;
}

li:hover{
    background-color: firebrick;
}

li:hover span{
    color: white;
}

nav{
    background-color: black;
}

nav span, article span {
    cursor: pointer;
}

nav h3 {
    font-family: fantasy;
    color:white;
    margin: 0px;
    padding: 12px;
}
